@*@model List<ProyectoTanner.Models.InformacionColaboradores>*@
@using ProyectoTanner.Models
@model ProyectoTanner.Models.Certificado

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ICV - Portal de AutoServicio</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/lightbox.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/images/favicon2.ico">
</head>
<body class="antiguedad">
    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->
    <div class="main-nav">
        <ul class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Index">
                    <h1><img class="img-responsive" src="~/images/logo-tanner-blanco.png" alt="logo"></h1>
                </a>
            </div>
            <ul class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"> @Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solicitud <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="Solicitud">Solicitud de vacaciones</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="MisSolicitudes">Mis Solicitudes (historial)</a>
                        </ul>
                    </li>
                    @{
                        string JEFE = (string)(Session["UsuarioAprobador"]);
                        if (JEFE != "")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi equipo <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<a class="dropdown-item" href="@Url.Action("MiEquipo", "Home")">Aprobar Vacaciones</a>*@
                                    <a class="dropdown-item" href="@Url.Action("MiEquipo", "Home")">Aprobar Solicitudes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("SolicitudMiEquipo", "Home")">Registrar solicitudes</a>
                                    @*<div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("SolicitudRevisionEquipo", "Home")">Solicitud Revision Equipo</a>
                                    <a class="dropdown-item" href="ReporteAbsentismo">Aprobacion HH</a>
                                    <div class="dropdown-divider"></div>*@
                                </ul>
                            </li>
                        }
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Liquidación <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="VerLiquidacion">Liquidación</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificados <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @*<a class="dropdown-item" href="Antiguedad">Antigüedad General</a>*@
                            <a class="dropdown-item" href="Antiguedad">Certificados</a>
                            @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Remuneracion">Remuneración</a>*@
                        </div>
                    </li>
                    @*@{
                        if (JEFE != "")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="ReporteAbsentismo">Reporte Absentismo</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="ReporteAbsentismo">Historial Aprobacion HH</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                    }*@
                    <li class="dropdown">
                        @*@foreach (var item in Model)
                        {*@
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@(Session["NombreUsuario"]) <span class="caret"></span></a>
                        @*}*@
                        <div class="dropdown-menu">



                            <a class="dropdown-item" href="CambioPass">Cambiar password</a>
                            <a class="dropdown-item" href="LogOut">Cerrar Session</a>
                        </div>
                    </li>
                </ul>
    </div>
    <header>
        <div class="container">
            <div class="marco02 heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                @if (ViewBag.Mostrar != null)
                {
                    <div class="alert alert-warning">
                        <strong>@ViewBag.Mensaje</strong>
                    </div>
                }
                else
                {
                }
                <h3>Certificados</h3>
                <div class="espacio-25"></div>
                @using (Html.BeginForm("Sol_Certificado", "HOME", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            Selecciona el tipo de Certificado
                        </div>
                        <div class="col-sm-3 col-xs-5">
                            <div class="form-group">
                                @Html.DropDownList("ListCert", new SelectList(ViewBag.ListCert, "COD", "TEXT"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            Para ser presentado
                        </div>
                        <div class="col-sm-3 col-xs-5">
                            <div class="form-group">
                                @Html.DropDownList("ListMotivos", new SelectList(ViewBag.ListMotivos, "COD", "TEXT"), new { @class = "form-control", @onchange = "callChangefunc(this.value)" })
                            </div>
                        </div>

                        <div class="col-sm-3 col-xs-5">
                            <div class="form-group">
                                @Html.TextBoxFor(a => a.otroMotivo, new { @id = "otroMotivo", @class = "form-control", @placeholder = "Otro Motivo", @disabled = "diabled" })
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            Nro de Ctas
                        </div>
                        <div class="col-sm-3 col-xs-5">
                            <div class="form-group">
                                @Html.DropDownList("LtaCtas", new SelectList(ViewBag.LtaCtas, "COD", "TEXT"), new { @class = "form-control", @id = "LtaCtas", disabled = "disabled" })
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            Total Credito
                        </div>
                        <div class="col-sm-3 col-xs-5">
                            @Html.TextBoxFor(a => a.valorCred, new { @id = "valorCred", @class = "form-control", @placeholder = "Total Credito", required = "requered", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="espacio-25"></div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            Valor Cuota
                        </div>
                        <div class="col-sm-3 col-xs-5">
                            @Html.TextBoxFor(a => a.valorCta, new { @id = "valorCta", @class = "form-control", @placeholder = "Valor Cuota", required = "requered", disabled = "disabled" })

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-xs-5">
                            <button type="submit" class="btn-primary btn-form btn-fullwidth">Enviar</button>
                        </div>
                    </div>
                }
            </div>
        </div>



        @*<div class="container"  style="visibility: hidden">
                <div class="marco02 heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h3>Certificado de Antigüedad General</h3>
                    <div class="espacio-25"></div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="center">
                            <p><img src="~/images/loading.gif"</p>
                        </div>
                        <object class="embed-responsive-item" data="@ViewBag.Antiguedad" type="application/pdf" internalinstanceid="9" title="">
                            <p>Su navegador no admite archivos pdf incrustados. Puedes descargar el archivo.</p>
                        </object>
                    </div>
                </div>
            </div>*@
    </header><!--/#home-->

    <script>
        function callChangefunc(val) {
            console.log(val);

            if (val == '1') {
                document.getElementById('valorCred').value = '';
                document.getElementById('valorCred').disabled = false;
                document.getElementById('LtaCtas').disabled = false;
                document.getElementById('valorCta').disabled = false;

            } else if (val == '4') {
                document.getElementById('otroMotivo').disabled = false;
            }
            else {
                document.getElementById('valorCred').disabled = true;
                document.getElementById('LtaCtas').disabled = true;
                document.getElementById('valorCta').disabled = true;
                document.getElementById('valorCred').value = '';
                 document.getElementById('otroMotivo').disabled = true;
                    document.getElementById('otroMotivo').value = '';
            }

           
                   
            
        };
       
    </script>

    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script type="text/javascript" src="~/js/lightbox.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>

