@using ProyectoTanner.Models
@model List<ProyectoTanner.Models.ListadoSolicitudesHistoricoVigente>

@{
    Layout = null;
    string FecHoy = string.Empty;
    string fecSolic = string.Empty;
    string Docnr = string.Empty;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ICV - Portal de AutoServicio</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/lightbox.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/images/favicon2.ico">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css">
</head>
<body class="login">
    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->
    <div class="main-nav">
        <ul class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Index">
                    <h1><img class="img-responsive" src="~/images/logo-tanner-blanco.png" alt="logo"></h1>
                </a>
            </div>
            <ul class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"> @Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solicitud <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="Solicitud">Solicitud de vacaciones</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="MisSolicitudes">Mis Solicitudes (historial)</a>
                        </ul>
                    </li>
                    @{
                        string JEFE = (string)(Session["UsuarioAprobador"]);
                        if (JEFE != "")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi equipo <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<a class="dropdown-item" href="@Url.Action("MiEquipo", "Home")">Aprobar Vacaciones</a>*@
                                    <a class="dropdown-item" href="@Url.Action("MiEquipo", "Home")">Aprobar Solicitudes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("SolicitudMiEquipo", "Home")">Registrar solicitudes</a>
                                    @*<div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("SolicitudRevisionEquipo", "Home")">Solicitud Revision Equipo</a>
                                    <a class="dropdown-item" href="ReporteAbsentismo">Aprobacion HH</a>
                                    <div class="dropdown-divider"></div>*@
                                </ul>
                            </li>
                        }
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Liquidación <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="VerLiquidacion">Liquidación</a>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificados <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @*<a class="dropdown-item" href="Antiguedad">Antigüedad General</a>*@
                            <a class="dropdown-item" href="Antiguedad">Certificados</a>
                            @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Remuneracion">Remuneración</a>*@
                        </div>
                    </li>
                    @*@{
                        if (JEFE != "")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="ReporteAbsentismo">Reporte Absentismo</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="ReporteAbsentismo">Historial Aprobacion HH</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                    }*@
                    <li class="dropdown">
                        @*@foreach (var item in Model)
                        {*@
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@(Session["NombreUsuario"]) <span class="caret"></span></a>
                        @*}*@
                        <div class="dropdown-menu">



                            <a class="dropdown-item" href="CambioPass">Cambiar password</a>
                            <a class="dropdown-item" href="LogOut">Cerrar Session</a>
                        </div>
                    </li>
                </ul>
    </div>
    <header>
        <div class="container">

            @if (ViewBag.Mostrar != null)
            {
                <div class="alert alert-warning">
                    <strong>@ViewBag.Mensaje</strong>
                </div>
            }

            <div class="table-responsive marco02 heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>Mis solicitudes</h3>
                <div class=""></div>
                <table class="display compact  tablaSol">
                    <thead>
                        <tr>
                            <th scope="col">id Solicitud</th>
                            @*<th scope="col">Unidad Organizativa</th>
                            <th scope="col">Usuario Web</th>*@
                            <th scope="col">Fecha Registro</th>
                            <th scope="col">Tipo de Solicitud</th>
                            <th scope="col">Estado de Solicitud</th>
                            <th scope="col">Ver</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ObtenerVacHistorico)
                        {

                        <tr>
                            <td>@item.id_solicitud</td>
                            @*  
                                <td>@item.id_unidad_org</td>
                                <td>@item.id_usuario_web</td>
                            *@
                            <td>@item.fecha_registro</td>
                            @if (@item.id_tipo_solicitud == "1")
                            {
                                <td class="tipo">Solicitud de Absentismo</td>
                            }
                            else if (@item.id_tipo_solicitud == "2")
                            {
                                <td class="tipo">Solicitud de Certificado</td>
                            }
                            else if (@item.id_tipo_solicitud == "3")
                            {
                                <td class="tipo">Solicitud de Cambio Contractual</td>
                            }

                            @if (@item.estado_solicitud == "0")
                            {
                                <td>"Pendiente de Aprobación"</td>
                            }
                            else if (@item.estado_solicitud == "1")
                            {
                                <td>"Aprobado"</td>
                            }
                            else if (@item.estado_solicitud == "2")
                            {
                                <td>"Rechazado"</td>
                            }

                            @if (@item.estado_solicitud == "1")
                            {
                                <td><button type="button" class="btn btn-success btn-ver" data-tipo="@item.id_tipo_solicitud" data-estado="@item.estado_solicitud" data-toggle="modal" data-target=".bd-example-modal-xl">Ver</button></td>
                            }
                            else if(@item.estado_solicitud == "2")
                            {
                                <td><button type="button" class="btn btn-danger btn-verRechazo" data-tipo="@item.id_tipo_solicitud" data-toggle="modal" data-target=".bd-example-modal-xl">Ver</button></td>

                            }
                            else
                            {
                                <td>-</td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div id='myModal' class='modal'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'></div>
                    </div>
                </div>
            </div>




    </header><!--/#home-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script type="text/javascript" src="~/js/lightbox.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/Solicitudes.js"></script>
    <style>
        #mydiv {
            width: 80% !important;
        }

        #mycontent {
            width: 100% !important;
        }
    </style>
    <script>

       

        $(document).on('click', '.btn-ver', function (e) {

            var TeamDetailPostBackURL = 'VerSolicitud';
            debugger;

            var $buttonClicked = $(this);
            var id = $(this).parent().parent().children().first().text();
            var estado =  $buttonClicked.attr('data-estado');
            var tipo2 = $buttonClicked.attr('data-tipo');

        
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "idSolicitud": id, "idTipo": tipo2, "Estado": estado},
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
        });


         $(document).on('click', '.btn-verRechazo', function (e) {

            var TeamDetailPostBackURL = 'VerMotRech';
            //debugger;

            var $buttonClicked = $(this);
            var id = $(this).parent().parent().children().first().text();
            var tipo2 = $buttonClicked.attr('data-tipo');

             console.log("rechazo");
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "idSolicitud": id, "idTipo": tipo2},
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        console.log("retorno exito");
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
        });

        
    </script>

</body>
</html>
