<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ICV - Portal de AutoServicio</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/animate.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/lightbox.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon2.ico">

       
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery-ui.css")*@




</head>
<body class="login">
    @RenderBody()

    @*@Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/DatePickerReady.js")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@


    @*<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>*@
</body>
</html>
